<% if logged_in? %>
    <% @routes.each do |route| %>
        <%= route.departing %>
        <%= route.destination %>
        <% if route.full?%> 
            <p>this train is full. try an earlier or later route</p>
        <% else %>
            <%= form_tag('/train_routes', method: :post) do %>
                <%= hidden_field_tag :route_id, route.id %>
                <%= submit_tag 'book a seat' %>
            <% end %>
        <% end %>
    <% end %>  
<% end %>

<% if current_user != nil && current_user.admin? %>
    <p><%= link_to "create a route", new_train_path %>
<% end %>

<p> check </p>