<h1> this is the home page </h1>
<% @routes.each do |route| %>
    <%= route.departing %>
    <%= route.destination %>
    <% if route.full?%> 
        <p>this train is full. try an earlier or later route</p>
    <% else %>
        <%= form_tag('/train_routes', method: :post) do %>
            <%= hidden_field_tag :route_id, route.id %>
            <%= submit_tag 'book a seat' %>
        <% end %>
    <% end %>
<% end %>
<%= link_to "sign in", signin_path %>