<% if flash[:error] %>
    <p><%= flash[:error] %></p>
<% end %>
<%= form_tag('/signin') do %>
    <%= label_tag :name %>
    <%= text_field_tag :name %>
    </br>
    <%= label_tag :password %>
    <%= password_field_tag :password%>
    
    <%= submit_tag "sign in" %>
<% end %>
<p><%= link_to 'Sign in with the GitHub', '/auth/github'%>.</p>