<%= stylesheet_link_tag "login.css" %>

<div class="login-body">

<% if @error != nil%>
  <div class="fields_with_errors">
    <ul>
      <li style="color:red;"><%= @error %></li>
    </ul>
  </div>
<% end %>


<div class="login-div">
  <p class="title">Login</p>
  <div class="fields">
    <%= form_tag('/signin') do %>
      <%= text_field_tag :name, nil, placeholder: "name" %>
      </br>
      <%= password_field_tag :password, nil, placeholder: "password" %>
  
      <div class="signin-button">
      <%= submit_tag "sign in" %>
      </div>
    <% end %>
  </div>
    <p id="githubLogin"><%= link_to 'Sign in with the GitHub', '/auth/github'%></p>
  </div>

</div>

</div>