<% if @user.errors.any? %>
  <div class="fields_with_errors">
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li style="color:red;"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@user) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <br>

    <%= f.label :password %>
    <%= f.password_field :password %>
    
    <%= f.submit %>
<% end %> 