<%= stylesheet_link_tag "signup.css" %>

<div class="login-body">

  <% if @user.errors.any?%>
  <div class="fields_with_errors">
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li style="color:red;"><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>


  <div class="login-div">
    <p class="title">Login</p>
    <div class="fields">
      <%= form_for(@user) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <br>
        <%= f.label :email %>
        <%= f.text_field :email %>
        <br>
        <%= f.label :password %>
        <%= f.password_field :password%>
      <div class="signin-button">
        <%= f.submit %>
      </div
    </div>
    <% end %>
  </div>
    <p id="githubLogin"><%= link_to 'Sign up with the GitHub', '/auth/github'%></p>
  </div>

</div>

</div>

