<style>


    div.aRoute {
        position:relative; 
        left:80px; 
        top:80px;
        background-color: #eeeeee;
        height: 300px;
        width: 400px;
        padding: 80px;
        border-radius: 10px;
    }

    li {
        font-size: 1.05em;
        list-style: none;
        padding-right: 10px;
    }

    p {
        position:relative; 
        left:80px; 
        top:80px;
        font-weight: 600;
        font-size: 1.5em;
        background-color: grey;
        width: 400px;
    }

    button.bottom {
        position:relative; 
        left:80px; 
        top:80px;
    }
</style>
<body>
<p> 
    <%= @user.name %> 
    <%= @user.email %>
    <% if current_user != nil && current_user.admin? %>
        <strong> Admin </strong>
    <% end %>
</p>

<% if @user.train_routes.empty? %>
    <p>you currently do not have any route. visit the home page to see available trains</p>
<% else %>
    <p> these are route you have leased </p>
    <% @user.train_routes.each do |route| %>
        <% if route.train != nil %>
        <div class = "aRoute">
        <li><strong>train model:</strong> <%= route.train.model %></li>
        <li><strong>train ident:</strong> <%= route.train.ident_number %></li>
        <li><strong>departing:</strong> <%= route.departing %></li>
        <li><strong>destination:</strong> <%= route.destination %></li>
        <button><%= link_to "add new route to train", new_train_train_route_path(route.train) %></button>
        </div>
        <% end %>
        <br>
    <% end %>
<% end %>

<button class="bottom"><%= link_to "see all my routes", user_train_routes_path(@user) %></button>
<button class="bottom"><%= link_to "edit user", edit_user_path %></button>
</body>
