<!DOCTYPE html>
<html>
  <head>
    <title>TrainApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  

  <body>
  <div>
    <nav>
      <% if logged_in? == false %>
      <a><%= link_to "sign up", new_user_path %></a>
      <a><%= link_to "sign in", new_session_path %></a>
      <% else %>
      <a><%= link_to "Home", root_path %><a>
      <a><%= link_to "profile", user_path(current_user) %></a>
      <a><%= link_to "log out", logout_path %></a>
      <% end %>
    </nav>
    <%= yield %>
  </div>
  </body>
</html>
