<!DOCTYPE html>
<html>
  <head>
    <title>TrainApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <% if logged_in? == false %>
    <%= link_to "sign up", new_user_path %>
    <%= link_to "sign in", new_session_path %>
    <% else %>
    <%= link_to "Home", root_path %>
    <%= link_to "profile", user_path(current_user) %>
    <%= link_to "log out", logout_path %>
    <% end %>
  </nav>
    <%= yield %>
  </body>
</html>
